.page-header{
display:flex;
flex-direction:column;
align-items: center;
justify-content: center;
text-align: center;
min-height: 300px;
background-color: #f4f4f4;  
}

.page-header h1 {
  margin-bottom: 10px;
}

:root {
  --paper: oklch(7 0 0);
  --ink: color-mix(in oklab, var(--color) 5%, black);
  --font: 100%/1.5 system-ui;
  --space: clamp(6px, 6px + 2vw, 15px);
  --line: 1px solid;
  --container: 1280px;
}

body {
  background: var(--paper);
  color: var(--ink);
  font: var(--font);
}
a {
  padding: var(--space);
  border: var(--line);
  max-width: fit-content;
}
img,
svg {
  width: 100%;
  object-fit: cover;
}

.main-wrapper {
  max-width: var(--container);
  margin: 0 auto calc(var(--space) * 4) auto;
}
footer {
  position: fixed;
  bottom: 0;
  text-align: center;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space);
  > *:first-child {
    grid-column: span 2;
  }
}

article {
  border: var(--line);
  padding-bottom: var(--space);
 display: flex;
 flex-direction: column;
  
  height: 100%;
  
  padding: 0 var(--space) var(--space) var(--space);
  
  overflow:hidden;
}

article img{
  width: calc(100% + (var(--space) *2));
  margin-left: calc(var(--space)* -1);
  height: 250px;
  object-fit: cover;
  margin-bottom: var(--space);
}

article h2 {
  min-height: 5em; 
  display: flex;
  align-items: center; /* Vertically centers the text if it's only one line */
  margin-top: 0;
  margin-bottom: var(--space);
}

article p{
  flex-grow: 1;
  margin-bottom: var(--space);
}

article a{
  margin-top: auto;
  align-self: flex-start;
}
